body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 100%;
}



nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #575757;
}

.container {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

section {
    margin-bottom: 1rem;
}

.services, .contact {
    background-color: white;
    padding: 2rem;
    margin: 1rem 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.hidden {
    display: none;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.gallery-photo {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment-name {
    font-weight: bold;
}

.comment-text {
    margin-top: 5px;
}
.animated-text {
    display: inline-block;
    border-right: 2px solid;
    animation: blink-caret 2s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {

    header p {
     font-size: small;
    }
    
    nav {
        flex-direction: column;
    }
    
    nav a {
        padding: 0.5rem;
    }
    
    .container {
        padding: 1rem;
    }
    
    .services, .contact {
        padding: 1rem;
        margin: 0.5rem 0;
    }
    
    .photo-gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
}